button{
    display:inline-block;
    padding:0.4em 1em;
    border:0.2em solid #625EE9;
    margin:0.1em 0.2em;
    border-radius:0.1em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#625EE9;
    text-align:center;
    transition: 0.4s;
    cursor:pointer;
    font-weight:bold;
    border-radius: 10px;
  }
  .btn1:hover{
    color:#9491EC;
    background-color:#FFFFFF;
  }
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 5px 15px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
